.page-header img {
    margin-right: 10px;
}

.app-header {
    margin-top: 30px;
    margin-bottom: 20px;
}

.well h5 {
    margin-top: 0;
}

.well .form-group:last-child {
    margin-bottom: 0;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.invalid {
    background-color: #f99;
}
.invalid_message {
    color: #f99;
}
a.link {
    color: #000000;
    text-decoration: underline;
}
.contact-form--success, .contact-form--processing {
    display: none;
    text-align: center;
}
.contact-form--success h4 {
    color: #089E40;
}
.tab-content {
    margin-top: 50px;
}
.form-section {
    padding-left: 20px;
}
.pagination li {
    float: left;
    margin: 0px 5px 5px 0px;
    background-color: #f1f1f1;
    border: 1px solid #e0e0e0;
}
.pagination .active {
    font-weight: bold;
    color: #fff;
    background-color: #585858;
}
.pagination>li>a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.no-results {
    text-align: center;
    font-weight: 600;
}