<div class="row">
    <div class="col-md-12">
        <h4 class="app-header">TODO List Application</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="well form-section">
            <fieldset>
                <legend>Add New Task</legend>
                <div  class="contact-form--container">
                    <form action="{{ path('add') }}" method="POST"
                          id="add-todo-item" novalidate="novalidate">
                        <div class="form-group">

                            <input type="text" class="form-control required" id="todo-text-input"
                                   name="todo-text" placeholder="Text" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">
                                Add
                            </button>
                        </div>
                    </form>
                </div>

                <div class="contact-form--success">
                    <img src="{{ asset('bundles/catchofthedaydevexam/images/success_sign.png') }}" />
                    <h4>Successfully added !!</h4>
                </div>
                <div class="contact-form--processing">
                    <img src="{{ asset('bundles/catchofthedaydevexam/images/submitting.gif') }}" />
                </div>

            </fieldset>

        </div>
    </div>
</div>