<div class="row">
    <div class="col-md-12">
        {% if pagination.totalNumberOfItems > 0 %}
            <table class="table table-striped table-hover">
            <colgroup>
                <col style="width: 120px" />
                <col style="width: 200px" />
                <col />
                <col style="width: 135px" />
            </colgroup>
            <thead>
            <tr>
                <th>#</th>
                <th>Text</th>
                <th>Created</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for item in pagination.items  %}
                <tr>
                    <td>
                        {{ item.id }}
                    </td>
                    <td>
                        {{ item.text }}
                    </td>
                    <td>{{ item.created|date('d/m/Y g:i a') }}</td>
                    <td>
                        <a href="{{ path('mark_as_uncomplete', { 'itemId': item.id }) }}" class="btn btn-sm btn-success">
                            Mark as Uncomplete
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p class="no-results"> No Completed Tasks</p>
        {% endif %}
    </div>
</div>

{% include 'CatchOfTheDayDevExamBundle:TodoList:pagination.html.twig' with {'pagination': pagination} %}
