{% extends 'CatchOfTheDayDevExamBundle::base.html.twig' %}

{% block title %}{{ parent() }} - Welcome{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/catchofthedaydevexam/css/views/TodoList/index.css') }}"/>
{% endblock stylesheets %}

{% block body %}
    <div class="container">

        {% include 'CatchOfTheDayDevExamBundle:TodoList:test_instructions.html.twig' %}

        <!-- Add new task -->
        {% include 'CatchOfTheDayDevExamBundle:TodoList:add_task.html.twig' %}

        <!-- Display added tasks -->
        <div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation">
                    <a href="{{ path('uncompleted_tasks') }}" aria-controls="home" role="tab">Uncompleted Tasks</a>
                </li>
                <li role="presentation"  class="active">
                    <a href="{{ path('completed_tasks') }}" aria-controls="profile" role="tab">CompletedTasks</a>
                </li>
            </ul>

            <div class="tab-content">
                {% include 'CatchOfTheDayDevExamBundle:TodoList:completed_list.html.twig' %}
            </div>

        </div>



    </div>
{% endblock body %}