
<nav>
    <ul class="pagination">

        {% for page in pagination.pages if pagination.totalNumberOfItems > 0 %}
            <li>
                <a href="?page={{ page }}" class="{% if currentPage == page %}active {%  endif %} %}">{{ page }}</a>
            </li>

        {% endfor %}
    </ul>
</nav>