
<div class="row">
    <div class="col-md-12">
        {% if pagination.totalNumberOfItems > 0 %}
            <table class="table table-striped table-hover">
            <colgroup>
                <col style="width: 120px" />
                <col style="width: 200px" />
                <col />
                <col style="width: 135px" />
            </colgroup>
            <thead>
            <tr>
                <th>#</th>
                <th>Text</th>
                <th>Created</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for item in pagination.items  %}
                <tr>
                    <td>
                        {{ item.id }}
                    </td>
                    <td>
                        {{ item.text }}
                        <a href="#" class="link" data-toggle="modal" data-target="#edit-item-{{ item.id }}">
                            <i class="fas fa-edit"></i>
                        </a>
                        <div class="modal fade" id="edit-item-{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Update Todo Item</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div  class="contact-form--container">
                                            <form  method="POST" id="edit-todo-item" novalidate="novalidate" action="{{ path('edit', { 'itemId': item.id }) }}">
                                                <div class="form-group">
                                                    <input type="text" class="form-control required" id="todo-text-input" name="todo-text" placeholder="Text" required value="{{ item.text }}">
                                                </div>
                                                <div>
                                                    <button type="submit" class="btn btn-primary">
                                                        Update
                                                    </button>
                                                </div>
                                            </form>
                                        </div>

                                        <div class="contact-form--success">
                                            <img src="{{ asset('bundles/catchofthedaydevexam/images/success_sign.png') }}" />
                                            <h4>Successfully updated!!</h4>
                                        </div>
                                        <div class="contact-form--processing">
                                            <img src="{{ asset('bundles/catchofthedaydevexam/images/submitting.gif') }}" />
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>{{ item.created|date('d/m/Y g:i a') }}</td>
                    <td>
                        <a href="{{ path('mark_as_complete', { 'itemId': item.id  }) }}" class="btn btn-sm btn-success">
                            Mark as Complete
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
         {% else %}
            <p class="no-results"> No Tasks</p>
        {% endif %}
    </div>
</div>
{% include 'CatchOfTheDayDevExamBundle:TodoList:pagination.html.twig' with {'pagination': pagination} %}
