<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}CatchOfTheDay Developer Exam{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/catchofthedaydevexam/css/lib/bootstrap/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/catchofthedaydevexam/css/lib/bootstrap/bootstrap-theme.min.css') }}" />
    {% endblock stylesheets %}
</head>
<body>
{% block body %}{% endblock body %}
{% block javascripts %}
    <script src="{{ asset('bundles/catchofthedaydevexam/js/lib/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/catchofthedaydevexam/js/lib/bootstrap/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/catchofthedaydevexam/js/todolist.js') }}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
    <script type="text/javascript">

        $(function() {

            //initialized todo list
            TodoList.init();

        });
    </script>
{% endblock javascripts %}
</body>
</html>